{% extends "base.html" %}

{% block content %}
<h2>Deals</h2>
<a href="{% url 'deal_create' %}" class="btn btn-primary">Add New Deal</a>
<table border="1" cellpadding="10" style="margin-top: 15px;">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Stage</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    {% for deal in deals %}
    <tr>
        <td>{{ deal.id }}</td>
        <td><a href="{% url 'deal_detail' deal.id %}">{{ deal.title }}</a></td>
        <td>{{ deal.stage }}</td>
        <td>{{ deal.amount }}</td>
        <td>
            <a href="{% url 'deal_edit' deal.id %}">Edit</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No deals available.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
